body{
    font-family: "Open Sans", sans-serif;
}
/* Nav bar*/

.header{
    background: rgb(255, 248, 243);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 150px;
}

/*Website Title */
.website_title{
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.part1{
    color: rgba(0, 128, 122, 0.993);
}
.part2{
    color:rgba(218, 165, 32, 0.89);
}
.part1:hover{
    color:rgba(218, 165, 32, 0.89);
}
.part2:hover{
    color: rgba(0, 128, 122, 0.993);;
}
/*End Website title part*/

/*Navbar Menu*/
nav > ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
}

ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.primary_bt{
    border:none;
    border-radius: 5px;
    padding:15px 35px;
    font-weight: 500;
    font-size: 20px;
    background-color: #fd6f0ae3;
    color:white;
    cursor: pointer;
}
/*Navbar Menu End*/

/*Banner*/
.banner{
    display: flex;
    margin: 0 150px;
}
.banner_gretting{

}
.banner_title{

}
.profile_pic{
    width: 200px;
    height: 300px;
}