body{
    font-family: "Open Sans", sans-serif;
}
/* Nav bar*/

.header{
    background: rgba(255, 248, 243, 0.842);
    background: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 150px;
}

/*Website Title */
.website_title{
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.part1{
    color: rgba(0, 128, 122, 0.993);
}
.part2{
    color:rgba(218, 165, 32, 0.89);
}
.part1:hover{
    color:rgba(218, 165, 32, 0.89);
}
.part2:hover{
    color: rgba(0, 128, 122, 0.993);;
}
/*End Website title part*/

/*Navbar Menu*/
nav > ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
}

ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.primary_bt{
    border:none;
    border-radius: 5px;
    padding:15px 35px;
    font-weight: 500;
    font-size: 20px;
    background-color: #fd6f0ae3;
    color:white;
    cursor: pointer;
}
/*Navbar Menu End*/

/*Banner*/
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.banner_part1{
    width: 580px;
    margin-left: 150px;
}
.banner_gretting{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
}
.banner_title{
    color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: 600;
    text-align: left;
}
.banner_description{
    height: 70px;
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.profile_pic{
    width: 400px;
    height: 476px;
    margin-right: 50px;
    border-radius: 7px;
}

/*Main Section Style*/

/*about style*/
.about{
    width: 80%;
    height: 500px;
    margin: 100px 10%;
    border-radius: 10px;
    background: rgb(255, 248, 243);
}
.about_container{
    border:1px solid rgba(0, 0, 0, 0.082);
    max-width: 80%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 7px;
}
.about_title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.about_description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding:0px 10px;
    text-align: justify;
}

.about_info_container{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.info_title{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color:rgb(117, 117, 117);
}
.info_detail{
    font: Open Sans;
    font-weight: 800px;
    font-size: 17px;
    text-align: center;
    color: rgb(71, 71, 71);
}

/*What I do  section*/
.my_work{
    width: 80%;
    height: 500px;
    margin: 90px 10%;
    border-radius: 10px;
}
.work_section_title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.about_my_work{
    width:80%;
    margin: auto;
    margin-top: 25px;
    padding:2px 5px;
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.cart_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.cart1,.cart2,.cart3,.cart4{
    width:20%;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 0.301);
}
.cart1:hover{
    background-color: rgba(173, 216, 230, 0.884);
    transform: scale(1.07,1.07);
}
.cart2:hover{
    background-color: rgba(173, 216, 230, 0.884);
    transform: scale(1.07,1.07);
}
.cart3:hover{
    background-color: rgba(173, 216, 230, 0.884);
    transform: scale(1.07,1.07);
}
.cart4:hover{
    background-color: rgba(173, 216, 230, 0.884);
    transform: scale(1.07,1.07);
}
.cart_icon{
    max-width: 50px;
    max-height: 37px;
    margin:20px;
    border-radius: 7px;
}
.cart_title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 0px 20px;
}
.cart_description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin:15px 20px;
    margin-bottom: 30px;
}

/*Resume Section*/
.resume_section{
    margin: 80px 10%;
    margin-top: 70px;
    width: 80%;
}
.resume_title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.resume_table{
    display: flex;
    justify-content: space-between;
}
.resume_column{
    border:1px solid green;
    width:46%;
}
.column_title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
}
.row{
    margin-top: -20px;
}
.row_title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
}


