body{
    font-family: "Open Sans", sans-serif;
}
/* Nav bar*/

.header{
    background: rgba(255, 248, 243, 0.842);
    background: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 150px;
}

/*Website Title */
.website_title{
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.part1{
    color: rgba(0, 128, 122, 0.993);
}
.part2{
    color:rgba(218, 165, 32, 0.89);
}
.part1:hover{
    color:rgba(218, 165, 32, 0.89);
}
.part2:hover{
    color: rgba(0, 128, 122, 0.993);;
}
/*End Website title part*/

/*Navbar Menu*/
nav > ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
}

ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.primary_bt{
    border:none;
    border-radius: 5px;
    padding:15px 35px;
    font-weight: 500;
    font-size: 20px;
    background-color: #fd6f0ae3;
    color:white;
    cursor: pointer;
}
/*Navbar Menu End*/

/*Banner*/
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.banner_part1{
    width: 580px;
    margin-left: 150px;
}
.banner_gretting{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
}
.banner_title{
    color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: 600;
    text-align: left;
}
.banner_description{
    height: 70px;
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.profile_pic{
    width: 400px;
    height: 476px;
    margin-right: 50px;
    border-radius: 7px;
}

/*Main Section Style*/

/*about style*/
.about{
    border:1px solid red;
    width: 70%;
    height: 450px;
    margin: 100px 15%;
    border-radius: 10px;
    background: rgb(255, 248, 243);
}
.about_container{
    border:1px solid rgba(0, 0, 0, 0.082);
    margin:auto 156px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}
.about_title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.about_description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding:0px 10px;
    text-align: justify;
}
